.span1{
    display: inline;
 }
 
 #icon1{
     width: 40px;
     height: 40px;
     border-radius: 1000px;
     box-shadow: 5px 5px 10px rgb(70, 5, 5);
 }
 ul li a{
     margin-left: 30px;
     font-size: 1rem;
     
 }
 
   #close-icon{
     height: 20px;
     border-radius: 200px;
   }
.MyContainer{
    
    text-align: center;
    
   
}
.MyContainer div{

}
.MyContainer h1{
    position: relative;
    top: 20px;
    margin-bottom: 60px;
}
.MyContainer #div50{
    display: flex;
    justify-content:center;
    margin-bottom: 50px;
    

    
}
.MyContainer #div50 div{
    margin-left: 20px;
    margin-right: 20px;
}

.MyContainer #div51{
    display: flex;
        justify-content:center;
        margin-top: 20px;
           

}
.MyContainer #div51 div{
    margin-left: 20px;
    margin-right: 20px;
}
img{
    border-radius: 20px;
}

/* footer starts here */


footer{
    background-color: black;
    height: 50px;
   padding: 0px;
   margin: 0px;
}
footer p{
    color: white;
    text-align: right;
    margin-right: 30px;
}
/* footer ends here */